In [1]:
import pandas
import numpy
import sklearn.tree
import random

In [3]:
rottery_numbers = pandas.read_csv('720_numbers.csv')
rottery_numbers

     5조\n162265
0    3조\n564583
1    1조\n844061
2    1조\n235108
3    3조\n707288
4    1조\n265256
..          ...
257  4조\n754655
258  4조\n124420
259  4조\n544955
260  2조\n450558
261  4조\n162132

[262 rows x 1 columns]

In [ ]:
for i in

In [194]:
for i in range(6,1,-1):
    rottery_numbers['num'+str(i)+'/'+str(i-1)] = (rottery_numbers['num'+str(i)] - rottery_numbers['num'+str(i-1)])

rottery_numbers

,num1,num2,num3,num4,num5,num6,bonus,num6/5,num5/4,num4/3,num3/2,num2/1
0,8,23,31,35,39,40,24,1,4,4,8,15
1,14,23,25,27,29,42,16,13,2,2,2,9
2,6,7,27,29,38,45,17,7,9,2,20,1
3,17,18,23,25,38,39,22,1,13,2,5,1
4,2,13,15,16,33,43,4,10,17,1,2,11
...,...,...,...,...,...,...,...,...,...,...,...,...
564,2,19,25,26,27,43,28,16,1,1,6,17
565,13,14,22,27,30,38,2,8,3,5,8,1
566,2,16,19,31,34,35,37,1,3,12,3,14
567,9,21,24,30,33,37,29,4,3,6,3,12
568,5,12,24,26,39,42,20,3,13,2,12,7

In [195]:
rottery_uncertain = pandas.DataFrame(columns=['num1','num2','num3','num4','num5','num6','bonus','result'])
rottery_uncertain

Empty DataFrame
Columns: [num1, num2, num3, num4, num5, num6, bonus, result]
Index: []

In [196]:
# pop_list = []
# number_list = list(range(1,46))
# for i in range(0,7):
#     random_number = random.choice(number_list)
#     pop_list.append(random_number)
#     number_list.remove(random_number)
# numbers = pop_list[:-1]
# numbers.sort()
# numbers.append(pop_list[-1])
# numbers

In [197]:
for j in range(570):
    pop_list = [] 
    number_list = list(range(1,46)) 
    for i in range(0,7):
        random_number = random.choice(number_list)
        pop_list.append(random_number)
        number_list.remove(random_number)
    numbers = pop_list[:-1] 
    numbers.sort()  
    numbers.append(pop_list[-1])
    numbers.append(0)
    rottery_uncertain.loc[len(rottery_uncertain)] = numbers
    print(j, numbers)

0 [6, 13, 18, 25, 27, 44, 16, 0]
1 [4, 29, 32, 33, 42, 44, 10, 0]
2 [9, 19, 20, 23, 31, 37, 32, 0]
3 [12, 15, 19, 27, 35, 40, 6, 0]
4 [3, 6, 7, 14, 16, 41, 12, 0]
5 [7, 10, 14, 18, 31, 41, 12, 0]
6 [5, 6, 9, 26, 31, 35, 36, 0]
7 [6, 12, 23, 24, 41, 44, 40, 0]
8 [3, 8, 21, 24, 39, 44, 23, 0]
9 [3, 4, 30, 31, 35, 41, 11, 0]
10 [4, 11, 12, 14, 22, 41, 36, 0]
11 [6, 19, 30, 34, 40, 42, 17, 0]
12 [1, 6, 19, 29, 31, 40, 22, 0]
13 [12, 14, 20, 34, 39, 44, 16, 0]
14 [3, 11, 13, 30, 39, 40, 24, 0]
15 [5, 8, 11, 28, 29, 43, 37, 0]
16 [11, 18, 20, 28, 40, 42, 26, 0]
17 [3, 8, 11, 16, 18, 42, 6, 0]
18 [2, 3, 14, 23, 27, 36, 17, 0]
19 [2, 8, 13, 15, 28, 45, 30, 0]
20 [8, 13, 18, 19, 23, 34, 36, 0]
21 [14, 23, 30, 33, 37, 45, 34, 0]
22 [7, 11, 15, 19, 22, 35, 30, 0]
23 [16, 25, 26, 29, 32, 35, 9, 0]
24 [10, 18, 27, 29, 30, 38, 35, 0]
25 [8, 17, 23, 34, 36, 40, 9, 0]
26 [6, 12, 13, 24, 36, 45, 10, 0]
27 [3, 21, 31, 33, 41, 42, 7, 0]
28 [6, 10, 23, 25, 30, 42, 18, 0]
29 [8, 16, 22, 24, 34, 40, 6, 0]
30 [4, 8, 14, 21, 25, 35, 28, 0]
31 [7, 8, 11, 29, 37, 41, 20, 0]
32 [3, 5, 8, 16, 26, 43, 30, 0]
33 [3, 5, 15, 22, 27, 36, 34, 0]
34 [3, 17, 20, 26, 39, 42, 30, 0]
35 [13, 18, 22, 24, 33, 35, 20, 0]
36 [10, 25, 26, 33, 35, 36, 30, 0]
37 [3, 6, 14, 15, 25, 40, 7, 0]
38 [17, 22, 28, 33, 42, 45, 23, 0]
39 [24, 27, 29, 37, 43, 45, 17, 0]
40 [4, 7, 11, 29, 33, 42, 8, 0]
41 [6, 10, 15, 22, 32, 45, 36, 0]
42 [5, 7, 27, 28, 29, 30, 22, 0]
43 [6, 14, 18, 31, 39, 45, 15, 0]
44 [1, 7, 9, 16, 24, 36, 2, 0]
45 [15, 16, 19, 23, 40, 42, 26, 0]
46 [1, 3, 12, 17, 20, 22, 29, 0]
47 [10, 12, 13, 16, 17, 29, 25, 0]
48 [1, 8, 10, 13, 36, 40, 29, 0]
49 [14, 16, 20, 27, 35, 36, 7, 0]
50 [2, 8, 16, 29, 39, 45, 20, 0]
51 [3, 23, 25, 29, 30, 33, 31, 0]
52 [10, 18, 19, 22, 24, 43, 14, 0]
53 [2, 4, 5, 6, 12, 27, 29, 0]
54 [4, 9, 29, 31, 34, 39, 21, 0]
55 [6, 13, 17, 22, 37, 39, 40, 0]
56 [1, 3, 4, 11, 31, 37, 32, 0]
57 [10, 15, 20, 21, 31, 42, 33, 0]
58 [4, 18, 26, 30, 37, 38, 7, 0]
59 [7, 18, 32, 35, 38, 42, 21, 0]
60 [4, 6, 25, 26, 37, 44, 8, 0]
61 [5, 9, 10, 24, 27, 30, 16, 0]
62 [4, 11, 12, 20, 34, 42, 29, 0]
63 [2, 5, 16, 21, 28, 36, 25, 0]
64 [15, 19, 20, 22, 32, 33, 5, 0]
65 [1, 3, 14, 17, 18, 32, 28, 0]
66 [2, 3, 6, 34, 38, 41, 23, 0]
67 [11, 25, 37, 39, 42, 44, 4, 0]
68 [5, 12, 13, 31, 36, 45, 4, 0]
69 [14, 16, 18, 21, 22, 42, 33, 0]
70 [1, 20, 30, 31, 37, 44, 12, 0]
71 [4, 8, 17, 18, 21, 42, 28, 0]
72 [6, 7, 15, 17, 25, 40, 38, 0]
73 [17, 27, 30, 33, 34, 36, 24, 0]
74 [4, 5, 7, 18, 27, 32, 28, 0]
75 [1, 8, 23, 31, 32, 37, 39, 0]
76 [8, 15, 19, 26, 36, 37, 32, 0]
77 [9, 19, 33, 38, 40, 44, 10, 0]
78 [12, 19, 21, 23, 30, 39, 40, 0]
79 [1, 19, 20, 27, 28, 40, 9, 0]
80 [10, 29, 32, 34, 35, 37, 25, 0]
81 [4, 12, 23, 24, 28, 37, 44, 0]
82 [1, 15, 16, 25, 41, 43, 45, 0]
83 [1, 4, 5, 10, 37, 43, 40, 0]
84 [9, 11, 14, 19, 26, 30, 21, 0]
85 [2, 13, 14, 25, 31, 42, 11, 0]
86 [6, 9, 19, 26, 31, 33, 27, 0]
87 [7, 12, 17, 19, 30, 32, 13, 0]
88 [8, 17, 23, 41, 42, 43, 32, 0]
89 [4, 6, 8, 37, 38, 43, 40, 0]
90 [25, 31, 32, 33, 34, 45, 16, 0]
91 [11, 13, 14, 30, 31, 35, 21, 0]
92 [11, 21, 23, 24, 31, 37, 41, 0]
93 [10, 11, 14, 16, 29, 32, 36, 0]
94 [3, 5, 7, 13, 24, 45, 18, 0]
95 [3, 7, 17, 20, 29, 38, 16, 0]
96 [3, 10, 14, 20, 24, 34, 32, 0]
97 [8, 9, 10, 13, 14, 39, 20, 0]
98 [8, 12, 26, 30, 34, 42, 7, 0]
99 [8, 15, 22, 31, 36, 45, 24, 0]
100 [3, 6, 12, 20, 21, 38, 28, 0]
101 [5, 13, 15, 16, 33, 45, 20, 0]
102 [4, 9, 10, 20, 28, 35, 16, 0]
103 [3, 5, 8, 28, 30, 34, 41, 0]
104 [7, 12, 19, 30, 43, 45, 18, 0]
105 [1, 3, 11, 17, 25, 43, 24, 0]
106 [7, 12, 21, 25, 41, 43, 2, 0]
107 [8, 24, 30, 32, 34, 43, 19, 0]
108 [7, 11, 24, 36, 40, 44, 30, 0]
109 [5, 11, 19, 20, 21, 44, 8, 0]
110 [24, 31, 34, 36, 40, 43, 11, 0]
111 [4, 14, 19, 22, 34, 44, 37, 0]
112 [6, 15, 23, 28, 38, 39, 8, 0]
113 [2, 17, 26, 28, 35, 43, 24, 0]
114 [9, 20, 26, 33, 38, 43, 17, 0]
115 [9, 13, 14, 17, 24, 44, 1, 0]
116 [1, 12, 20, 22, 29, 34, 31, 0]
117 [6, 7, 18, 23, 30, 45, 37, 0]
118 [6, 9, 10, 20, 30, 45, 35, 0]
119 [3, 8, 9, 10, 13, 38, 16, 0]
120 [7, 11, 12, 18, 40, 43, 2, 0]
121 [12, 14, 27, 31, 38, 45, 30, 0]
122 [3, 11, 20, 22, 26, 45, 33, 0]
123 [3, 6, 16, 20, 35, 42, 26, 0]
124 [11, 12, 17, 24, 35, 38, 43, 0]
125 [4, 14, 18, 25, 36, 39, 27, 0]
126 [9, 11, 14, 17, 18, 36, 4, 0]
127 [4, 23, 24, 28, 29, 45, 34, 0]
128 [14, 18, 22, 26, 40, 42, 13, 0]
129 [12, 17, 22, 24, 26, 32, 33, 0]
130 [3, 10, 25, 26, 34, 39, 6, 0]
131 [6, 9, 11, 24, 28, 38, 17, 0]
132 [24, 28, 30, 37, 41, 43, 7, 0]
133 [9, 11, 12, 14, 20, 38, 8, 0]
134 [5, 9, 17, 19, 37, 43, 24, 0]
135 [3, 10, 14, 15, 31, 33, 9, 0]
136 [10, 17, 25, 32, 39, 45, 2, 0]
137 [7, 15, 19, 26, 30, 42, 37, 0]
138 [3, 9, 19, 22, 25, 30, 20, 0]
139 [16, 21, 25, 31, 40, 43, 6, 0]
140 [14, 22, 23, 34, 38, 40, 4, 0]
141 [2, 18, 25, 31, 38, 45, 26, 0]
142 [12, 21, 27, 28, 37, 39, 9, 0]
143 [18, 21, 28, 32, 37, 38, 7, 0]
144 [16, 21, 30, 32, 33, 38, 5, 0]
145 [11, 17, 18, 23, 30, 40, 39, 0]
146 [8, 12, 13, 20, 24, 26, 40, 0]
147 [1, 3, 5, 8, 21, 38, 13, 0]
148 [1, 20, 22, 29, 38, 41, 10, 0]
149 [1, 6, 7, 19, 35, 39, 12, 0]
150 [5, 6, 12, 25, 26, 30, 33, 0]
151 [3, 7, 15, 16, 26, 41, 10, 0]
152 [17, 19, 22, 23, 31, 37, 30, 0]
153 [9, 17, 31, 32, 39, 44, 11, 0]
154 [8, 15, 23, 29, 32, 42, 12, 0]
155 [6, 17, 34, 38, 42, 44, 43, 0]
156 [6, 32, 37, 38, 40, 43, 30, 0]
157 [2, 3, 8, 13, 18, 20, 33, 0]
158 [1, 8, 16, 18, 27, 33, 37, 0]
159 [1, 10, 12, 14, 24, 42, 25, 0]
160 [2, 13, 18, 31, 40, 44, 1, 0]
161 [4, 10, 29, 31, 34, 37, 42, 0]
162 [8, 13, 30, 31, 32, 39, 21, 0]
163 [2, 3, 16, 17, 34, 43, 25, 0]
164 [8, 19, 26, 33, 35, 41, 39, 0]
165 [7, 9, 14, 16, 25, 41, 36, 0]
166 [4, 10, 20, 27, 38, 43, 37, 0]
167 [1, 9, 11, 17, 26, 29, 24, 0]
168 [2, 4, 9, 20, 21, 34, 28, 0]
169 [7, 8, 15, 20, 26, 43, 17, 0]
170 [5, 12, 13, 31, 40, 41, 25, 0]
171 [4, 6, 11, 15, 32, 43, 29, 0]
172 [3, 5, 10, 20, 38, 40, 28, 0]
173 [2, 5, 19, 20, 25, 33, 23, 0]
174 [8, 9, 20, 25, 26, 34, 3, 0]
175 [2, 18, 20, 23, 26, 45, 8, 0]
176 [1, 5, 22, 25, 26, 34, 20, 0]
177 [5, 21, 24, 25, 39, 42, 44, 0]
178 [7, 8, 21, 33, 36, 44, 3, 0]
179 [4, 7, 13, 17, 30, 40, 15, 0]
180 [19, 24, 26, 29, 41, 45, 14, 0]
181 [10, 16, 22, 23, 27, 29, 28, 0]
182 [2, 14, 31, 33, 36, 43, 22, 0]
183 [2, 9, 13, 17, 18, 40, 23, 0]
184 [5, 9, 18, 25, 33, 42, 3, 0]
185 [3, 11, 25, 26, 28, 40, 12, 0]
186 [1, 2, 20, 24, 29, 36, 22, 0]
187 [20, 23, 24, 27, 36, 42, 43, 0]
188 [4, 5, 9, 12, 32, 45, 16, 0]
189 [13, 21, 38, 39, 40, 45, 16, 0]
190 [2, 19, 26, 30, 37, 44, 9, 0]
191 [5, 11, 17, 21, 31, 44, 3, 0]
192 [1, 7, 12, 21, 36, 42, 40, 0]
193 [3, 4, 16, 20, 30, 33, 9, 0]
194 [9, 17, 28, 32, 36, 45, 22, 0]
195 [2, 9, 18, 24, 28, 29, 36, 0]
196 [3, 10, 18, 27, 34, 44, 41, 0]
197 [6, 32, 34, 38, 40, 42, 24, 0]
198 [6, 10, 15, 22, 23, 45, 19, 0]
199 [5, 13, 16, 19, 28, 45, 34, 0]
200 [7, 9, 16, 30, 37, 41, 13, 0]
201 [16, 17, 18, 24, 33, 43, 36, 0]
202 [24, 27, 28, 34, 41, 44, 13, 0]
203 [13, 18, 21, 26, 31, 37, 4, 0]
204 [3, 7, 8, 32, 39, 42, 24, 0]
205 [3, 17, 23, 26, 31, 45, 7, 0]
206 [3, 4, 13, 15, 26, 36, 8, 0]
207 [11, 12, 28, 42, 44, 45, 35, 0]
208 [11, 28, 30, 33, 37, 43, 18, 0]
209 [2, 9, 13, 14, 16, 23, 15, 0]
210 [1, 18, 20, 25, 35, 38, 16, 0]
211 [19, 21, 26, 28, 33, 42, 4, 0]
212 [18, 21, 25, 27, 28, 36, 29, 0]
213 [1, 3, 12, 17, 21, 32, 37, 0]
214 [1, 2, 13, 15, 21, 35, 41, 0]
215 [2, 4, 13, 26, 34, 37, 41, 0]
216 [9, 19, 24, 33, 36, 38, 41, 0]
217 [23, 34, 35, 37, 38, 41, 21, 0]
218 [4, 6, 10, 23, 34, 37, 19, 0]
219 [4, 9, 13, 28, 29, 39, 44, 0]
220 [19, 22, 27, 32, 34, 36, 5, 0]
221 [2, 19, 20, 23, 31, 36, 37, 0]
222 [8, 17, 29, 35, 40, 43, 45, 0]
223 [14, 16, 17, 27, 29, 45, 22, 0]
224 [1, 3, 4, 15, 29, 42, 25, 0]
225 [9, 11, 26, 37, 38, 42, 31, 0]
226 [4, 19, 20, 30, 32, 37, 7, 0]
227 [1, 12, 21, 30, 33, 37, 25, 0]
228 [8, 10, 13, 21, 23, 45, 26, 0]
229 [6, 13, 22, 32, 44, 45, 43, 0]
230 [3, 8, 22, 29, 30, 39, 18, 0]
231 [8, 21, 24, 26, 27, 28, 11, 0]
232 [6, 9, 10, 28, 38, 43, 40, 0]
233 [3, 5, 12, 26, 32, 36, 2, 0]
234 [4, 5, 11, 28, 39, 43, 2, 0]
235 [5, 7, 33, 34, 40, 42, 26, 0]
236 [8, 9, 19, 21, 23, 42, 45, 0]
237 [3, 21, 28, 36, 39, 40, 41, 0]
238 [11, 24, 29, 37, 40, 41, 12, 0]
239 [5, 9, 10, 25, 35, 42, 36, 0]
240 [15, 33, 35, 37, 39, 43, 31, 0]
241 [4, 7, 20, 21, 28, 39, 36, 0]
242 [12, 15, 17, 25, 38, 42, 1, 0]
243 [1, 8, 10, 18, 36, 40, 23, 0]
244 [7, 8, 16, 21, 31, 44, 26, 0]
245 [4, 20, 22, 37, 40, 45, 42, 0]
246 [17, 21, 27, 34, 44, 45, 15, 0]
247 [7, 8, 11, 16, 17, 42, 26, 0]
248 [14, 17, 20, 27, 37, 44, 41, 0]
249 [1, 4, 18, 23, 24, 33, 28, 0]
250 [7, 10, 18, 23, 27, 44, 26, 0]
251 [17, 18, 25, 26, 34, 42, 35, 0]
252 [4, 18, 22, 27, 28, 29, 13, 0]
253 [8, 12, 18, 22, 31, 43, 45, 0]
254 [16, 17, 35, 37, 42, 43, 2, 0]
255 [2, 11, 18, 30, 31, 37, 22, 0]
256 [6, 23, 25, 27, 28, 45, 41, 0]
257 [1, 4, 10, 16, 37, 42, 2, 0]
258 [6, 9, 14, 28, 37, 40, 35, 0]
259 [3, 17, 22, 34, 35, 37, 1, 0]
260 [10, 12, 16, 19, 28, 33, 5, 0]
261 [7, 10, 16, 22, 41, 44, 25, 0]
262 [2, 14, 20, 31, 39, 41, 22, 0]
263 [1, 14, 27, 30, 38, 45, 18, 0]
264 [5, 6, 9, 36, 44, 45, 43, 0]
265 [3, 4, 26, 27, 41, 42, 38, 0]
266 [10, 22, 26, 32, 36, 43, 19, 0]
267 [7, 18, 24, 26, 27, 39, 13, 0]
268 [3, 8, 17, 28, 33, 41, 37, 0]
269 [6, 12, 17, 25, 31, 41, 22, 0]
270 [11, 13, 21, 26, 30, 34, 32, 0]
271 [1, 5, 9, 10, 23, 44, 21, 0]
272 [18, 25, 28, 29, 34, 40, 14, 0]
273 [18, 19, 20, 27, 31, 41, 43, 0]
274 [4, 8, 20, 29, 37, 45, 1, 0]
275 [11, 27, 34, 35, 40, 43, 14, 0]
276 [3, 4, 16, 22, 27, 42, 6, 0]
277 [8, 14, 23, 26, 41, 45, 30, 0]
278 [1, 20, 22, 36, 38, 45, 40, 0]
279 [1, 18, 19, 23, 36, 44, 9, 0]
280 [3, 5, 11, 28, 33, 36, 22, 0]
281 [1, 5, 20, 26, 35, 38, 27, 0]
282 [8, 16, 27, 41, 42, 44, 3, 0]
283 [1, 8, 11, 27, 32, 42, 5, 0]
284 [2, 7, 15, 21, 24, 29, 26, 0]
285 [2, 9, 12, 19, 40, 45, 42, 0]
286 [5, 6, 15, 16, 34, 35, 22, 0]
287 [12, 25, 31, 37, 40, 42, 22, 0]
288 [9, 11, 16, 29, 32, 39, 19, 0]
289 [18, 23, 29, 31, 34, 37, 8, 0]
290 [6, 8, 13, 26, 42, 43, 35, 0]
291 [7, 14, 27, 30, 41, 43, 45, 0]
292 [1, 15, 19, 24, 26, 40, 43, 0]
293 [9, 21, 25, 26, 29, 31, 43, 0]
294 [6, 11, 19, 24, 35, 38, 2, 0]
295 [7, 12, 13, 34, 37, 43, 25, 0]
296 [3, 20, 23, 28, 37, 45, 11, 0]
297 [8, 20, 23, 27, 29, 36, 39, 0]
298 [2, 6, 11, 12, 20, 26, 14, 0]
299 [9, 15, 20, 28, 33, 45, 37, 0]
300 [11, 13, 23, 35, 44, 45, 20, 0]
301 [3, 4, 7, 12, 20, 23, 11, 0]
302 [1, 14, 20, 31, 35, 38, 5, 0]
303 [1, 12, 19, 23, 32, 35, 5, 0]
304 [5, 20, 30, 36, 42, 45, 40, 0]
305 [13, 21, 25, 28, 34, 42, 14, 0]
306 [5, 9, 14, 19, 31, 45, 24, 0]
307 [5, 7, 14, 20, 21, 33, 39, 0]
308 [11, 15, 19, 25, 42, 44, 8, 0]
309 [5, 8, 12, 19, 41, 45, 40, 0]
310 [18, 20, 29, 30, 42, 44, 3, 0]
311 [1, 28, 32, 40, 41, 42, 44, 0]
312 [11, 13, 18, 33, 40, 44, 1, 0]
313 [7, 14, 18, 22, 28, 44, 34, 0]
314 [4, 20, 28, 30, 37, 40, 13, 0]
315 [1, 4, 12, 19, 20, 35, 39, 0]
316 [8, 11, 27, 35, 42, 44, 36, 0]
317 [3, 4, 20, 21, 24, 35, 16, 0]
318 [2, 18, 23, 29, 38, 39, 19, 0]
319 [9, 11, 25, 36, 39, 45, 19, 0]
320 [7, 20, 21, 23, 30, 37, 36, 0]
321 [8, 10, 33, 34, 35, 38, 21, 0]
322 [1, 6, 24, 26, 42, 45, 40, 0]
323 [10, 17, 34, 38, 41, 44, 24, 0]
324 [15, 21, 23, 26, 41, 45, 42, 0]
325 [3, 10, 21, 23, 25, 35, 28, 0]
326 [11, 15, 17, 33, 39, 40, 18, 0]
327 [7, 16, 25, 26, 43, 44, 42, 0]
328 [2, 9, 15, 16, 21, 28, 7, 0]
329 [9, 22, 29, 35, 39, 45, 38, 0]
330 [1, 6, 22, 28, 30, 45, 13, 0]
331 [18, 19, 24, 34, 38, 43, 15, 0]
332 [2, 21, 23, 27, 33, 43, 38, 0]
333 [7, 8, 21, 26, 32, 36, 6, 0]
334 [1, 6, 9, 12, 32, 33, 19, 0]
335 [3, 5, 6, 11, 34, 35, 32, 0]
336 [26, 27, 35, 40, 43, 44, 31, 0]
337 [9, 18, 20, 24, 37, 45, 19, 0]
338 [2, 5, 26, 32, 33, 45, 7, 0]
339 [12, 21, 26, 30, 42, 43, 35, 0]
340 [1, 11, 17, 31, 34, 43, 21, 0]
341 [11, 23, 33, 34, 41, 45, 32, 0]
342 [14, 20, 21, 28, 34, 35, 11, 0]
343 [12, 18, 20, 22, 24, 39, 38, 0]
344 [1, 2, 18, 25, 32, 43, 4, 0]
345 [5, 13, 15, 24, 25, 28, 43, 0]
346 [14, 25, 27, 32, 37, 43, 40, 0]
347 [14, 24, 26, 27, 28, 31, 2, 0]
348 [11, 14, 26, 27, 30, 37, 7, 0]
349 [1, 8, 15, 25, 27, 31, 9, 0]
350 [1, 8, 11, 17, 22, 44, 27, 0]
351 [16, 23, 28, 29, 32, 35, 40, 0]
352 [6, 10, 11, 14, 28, 39, 33, 0]
353 [17, 23, 24, 34, 39, 40, 8, 0]
354 [4, 7, 12, 20, 22, 45, 9, 0]
355 [17, 23, 27, 29, 41, 43, 21, 0]
356 [10, 15, 22, 23, 33, 38, 31, 0]
357 [5, 15, 21, 24, 26, 38, 3, 0]
358 [12, 30, 35, 40, 41, 44, 45, 0]
359 [6, 27, 30, 33, 37, 38, 29, 0]
360 [25, 26, 27, 29, 42, 43, 9, 0]
361 [5, 10, 14, 24, 33, 35, 41, 0]
362 [1, 15, 23, 28, 32, 37, 45, 0]
363 [5, 7, 18, 29, 33, 42, 8, 0]
364 [1, 12, 15, 25, 32, 38, 24, 0]
365 [3, 4, 15, 26, 41, 42, 43, 0]
366 [9, 22, 31, 35, 38, 44, 10, 0]
367 [8, 11, 29, 30, 34, 44, 15, 0]
368 [1, 9, 11, 13, 16, 25, 43, 0]
369 [6, 12, 16, 22, 39, 42, 43, 0]
370 [4, 7, 11, 27, 33, 40, 20, 0]
371 [8, 18, 20, 30, 39, 44, 19, 0]
372 [3, 12, 24, 33, 37, 44, 2, 0]
373 [10, 15, 19, 20, 25, 26, 30, 0]
374 [8, 9, 11, 16, 31, 45, 25, 0]
375 [9, 11, 23, 24, 29, 30, 42, 0]
376 [4, 13, 17, 20, 29, 44, 3, 0]
377 [6, 12, 17, 23, 24, 45, 44, 0]
378 [11, 14, 21, 24, 25, 31, 8, 0]
379 [15, 17, 21, 31, 38, 40, 19, 0]
380 [9, 20, 21, 29, 42, 43, 13, 0]
381 [6, 11, 14, 15, 24, 28, 26, 0]
382 [1, 12, 15, 32, 36, 37, 7, 0]
383 [9, 10, 13, 28, 35, 39, 24, 0]
384 [7, 15, 20, 26, 27, 29, 40, 0]
385 [12, 13, 14, 27, 34, 41, 36, 0]
386 [1, 9, 24, 32, 37, 42, 12, 0]
387 [6, 17, 24, 27, 31, 45, 40, 0]
388 [6, 9, 13, 20, 22, 43, 4, 0]
389 [3, 11, 26, 29, 31, 38, 28, 0]
390 [9, 12, 13, 25, 29, 30, 17, 0]
391 [2, 11, 15, 16, 21, 42, 27, 0]
392 [2, 8, 17, 37, 40, 44, 34, 0]
393 [4, 8, 28, 36, 37, 42, 18, 0]
394 [1, 9, 10, 24, 34, 45, 11, 0]
395 [1, 8, 13, 21, 33, 43, 10, 0]
396 [6, 15, 16, 19, 22, 35, 21, 0]
397 [1, 7, 16, 28, 37, 39, 31, 0]
398 [2, 6, 9, 14, 28, 38, 15, 0]
399 [7, 18, 30, 34, 35, 36, 17, 0]
400 [7, 11, 19, 27, 29, 31, 37, 0]
401 [7, 10, 13, 24, 29, 41, 12, 0]
402 [2, 15, 28, 31, 35, 44, 26, 0]
403 [3, 6, 8, 12, 18, 40, 25, 0]
404 [6, 8, 9, 18, 25, 39, 42, 0]
405 [5, 11, 16, 18, 21, 24, 9, 0]
406 [6, 16, 28, 33, 40, 44, 29, 0]
407 [2, 5, 13, 17, 23, 26, 12, 0]
408 [17, 32, 34, 37, 38, 44, 13, 0]
409 [2, 7, 8, 31, 36, 43, 37, 0]
410 [9, 11, 27, 30, 31, 33, 2, 0]
411 [4, 15, 21, 23, 37, 39, 35, 0]
412 [2, 29, 36, 38, 44, 45, 33, 0]
413 [11, 14, 21, 30, 34, 38, 4, 0]
414 [2, 9, 10, 20, 33, 36, 4, 0]
415 [1, 2, 12, 19, 34, 41, 40, 0]
416 [8, 11, 21, 23, 41, 44, 13, 0]
417 [1, 4, 8, 16, 19, 44, 3, 0]
418 [3, 4, 7, 20, 24, 31, 11, 0]
419 [1, 7, 14, 17, 18, 25, 12, 0]
420 [1, 6, 20, 27, 36, 43, 2, 0]
421 [5, 19, 21, 27, 28, 29, 24, 0]
422 [1, 20, 24, 25, 29, 43, 33, 0]
423 [8, 16, 18, 40, 42, 44, 24, 0]
424 [5, 8, 11, 22, 27, 29, 44, 0]
425 [5, 17, 23, 27, 30, 34, 38, 0]
426 [2, 19, 24, 27, 30, 43, 12, 0]
427 [4, 8, 9, 15, 16, 23, 20, 0]
428 [11, 12, 19, 32, 39, 43, 13, 0]
429 [6, 7, 19, 22, 34, 41, 1, 0]
430 [1, 5, 13, 16, 28, 32, 8, 0]
431 [11, 17, 30, 31, 35, 42, 3, 0]
432 [1, 10, 16, 17, 38, 45, 29, 0]
433 [7, 14, 17, 32, 41, 45, 23, 0]
434 [1, 2, 7, 19, 21, 37, 9, 0]
435 [10, 11, 25, 32, 36, 37, 6, 0]
436 [6, 10, 13, 21, 23, 39, 18, 0]
437 [10, 16, 21, 23, 28, 37, 22, 0]
438 [4, 8, 11, 33, 40, 43, 1, 0]
439 [2, 14, 25, 39, 40, 44, 24, 0]
440 [1, 7, 9, 13, 40, 44, 19, 0]
441 [1, 8, 13, 14, 16, 22, 30, 0]
442 [1, 7, 8, 14, 16, 35, 39, 0]
443 [3, 10, 13, 24, 35, 39, 2, 0]
444 [7, 16, 22, 23, 25, 41, 6, 0]
445 [8, 10, 29, 34, 35, 45, 30, 0]
446 [2, 5, 9, 10, 24, 32, 15, 0]
447 [3, 25, 29, 36, 39, 42, 19, 0]
448 [18, 19, 21, 23, 26, 39, 27, 0]
449 [11, 15, 37, 38, 40, 41, 19, 0]
450 [4, 7, 16, 17, 18, 32, 6, 0]
451 [4, 5, 12, 31, 34, 41, 36, 0]
452 [9, 19, 23, 27, 31, 41, 24, 0]
453 [5, 6, 17, 27, 28, 39, 12, 0]
454 [5, 18, 21, 35, 41, 43, 39, 0]
455 [7, 18, 19, 33, 35, 36, 2, 0]
456 [1, 16, 17, 34, 41, 42, 11, 0]
457 [15, 16, 20, 22, 26, 43, 32, 0]
458 [1, 2, 3, 27, 36, 42, 31, 0]
459 [2, 10, 12, 24, 25, 32, 19, 0]
460 [10, 12, 17, 21, 28, 44, 15, 0]
461 [12, 15, 26, 30, 34, 35, 39, 0]
462 [15, 20, 24, 25, 36, 43, 44, 0]
463 [4, 8, 15, 20, 30, 44, 43, 0]
464 [2, 17, 23, 33, 36, 43, 7, 0]
465 [5, 15, 21, 23, 37, 44, 39, 0]
466 [12, 17, 21, 24, 27, 30, 15, 0]
467 [1, 5, 6, 26, 27, 28, 10, 0]
468 [5, 6, 15, 21, 28, 45, 24, 0]
469 [2, 3, 5, 15, 36, 40, 35, 0]
470 [1, 11, 20, 24, 35, 37, 23, 0]
471 [1, 5, 13, 19, 31, 42, 24, 0]
472 [4, 25, 27, 29, 38, 39, 24, 0]
473 [10, 14, 33, 37, 38, 41, 44, 0]
474 [1, 5, 12, 28, 42, 45, 40, 0]
475 [19, 36, 40, 41, 42, 45, 2, 0]
476 [1, 4, 10, 16, 33, 41, 20, 0]
477 [5, 9, 15, 22, 39, 45, 41, 0]
478 [12, 28, 35, 36, 37, 41, 18, 0]
479 [9, 13, 14, 15, 16, 34, 29, 0]
480 [5, 15, 21, 37, 41, 45, 40, 0]
481 [4, 13, 16, 18, 20, 40, 24, 0]
482 [10, 11, 19, 25, 37, 45, 23, 0]
483 [8, 12, 21, 30, 39, 44, 15, 0]
484 [8, 18, 29, 32, 36, 37, 38, 0]
485 [17, 18, 20, 24, 26, 37, 39, 0]
486 [2, 4, 9, 18, 36, 41, 21, 0]
487 [7, 17, 18, 21, 30, 39, 1, 0]
488 [13, 22, 23, 32, 37, 42, 1, 0]
489 [4, 21, 26, 27, 29, 38, 13, 0]
490 [12, 16, 22, 33, 42, 43, 41, 0]
491 [9, 11, 16, 27, 34, 44, 28, 0]
492 [12, 14, 29, 31, 32, 33, 28, 0]
493 [10, 11, 13, 20, 25, 40, 45, 0]
494 [5, 11, 13, 34, 36, 45, 20, 0]
495 [10, 14, 27, 41, 43, 45, 22, 0]
496 [1, 14, 16, 22, 41, 43, 23, 0]
497 [10, 12, 23, 24, 36, 43, 20, 0]
498 [2, 6, 14, 27, 32, 37, 22, 0]
499 [3, 7, 16, 20, 23, 24, 41, 0]
500 [4, 10, 11, 18, 23, 43, 37, 0]
501 [1, 12, 22, 24, 25, 37, 39, 0]
502 [9, 10, 17, 18, 20, 36, 41, 0]
503 [13, 14, 21, 25, 33, 36, 28, 0]
504 [5, 21, 25, 32, 35, 41, 11, 0]
505 [1, 9, 16, 22, 23, 24, 43, 0]
506 [4, 5, 10, 18, 26, 38, 12, 0]
507 [6, 9, 10, 16, 28, 34, 31, 0]
508 [1, 9, 10, 16, 31, 41, 40, 0]
509 [1, 14, 20, 25, 35, 40, 2, 0]
510 [6, 14, 15, 21, 29, 45, 23, 0]
511 [10, 11, 12, 15, 38, 43, 32, 0]
512 [3, 5, 7, 15, 16, 31, 4, 0]
513 [1, 15, 18, 26, 43, 44, 5, 0]
514 [8, 9, 11, 31, 34, 35, 27, 0]
515 [7, 10, 19, 31, 36, 43, 2, 0]
516 [5, 8, 13, 19, 26, 40, 43, 0]
517 [5, 11, 17, 23, 30, 44, 41, 0]
518 [3, 20, 28, 29, 37, 42, 2, 0]
519 [1, 13, 15, 22, 38, 44, 20, 0]
520 [10, 22, 24, 30, 35, 45, 17, 0]
521 [4, 7, 12, 23, 31, 43, 18, 0]
522 [11, 17, 24, 28, 29, 41, 32, 0]
523 [10, 12, 17, 29, 40, 41, 15, 0]
524 [9, 19, 25, 29, 36, 38, 4, 0]
525 [17, 25, 28, 30, 31, 32, 5, 0]
526 [3, 14, 16, 18, 19, 41, 12, 0]
527 [8, 10, 20, 23, 37, 39, 42, 0]
528 [1, 13, 16, 21, 35, 36, 31, 0]
529 [20, 22, 26, 30, 34, 44, 6, 0]
530 [7, 14, 21, 24, 31, 45, 41, 0]
531 [4, 8, 16, 37, 40, 45, 38, 0]
532 [3, 15, 30, 33, 43, 44, 40, 0]
533 [2, 28, 33, 36, 41, 44, 19, 0]
534 [4, 8, 18, 32, 41, 42, 17, 0]
535 [2, 9, 10, 12, 20, 31, 36, 0]
536 [7, 10, 20, 27, 29, 40, 2, 0]
537 [3, 14, 19, 27, 30, 38, 11, 0]
538 [5, 6, 25, 29, 35, 37, 7, 0]
539 [5, 8, 26, 30, 39, 44, 10, 0]
540 [7, 13, 17, 20, 35, 41, 33, 0]
541 [6, 23, 26, 34, 37, 40, 41, 0]
542 [3, 8, 12, 16, 26, 36, 35, 0]
543 [3, 13, 17, 18, 30, 44, 22, 0]
544 [26, 29, 30, 31, 35, 42, 8, 0]
545 [5, 6, 27, 43, 44, 45, 22, 0]
546 [2, 14, 18, 27, 40, 42, 7, 0]
547 [3, 8, 16, 24, 40, 41, 28, 0]
548 [6, 7, 14, 27, 42, 45, 23, 0]
549 [3, 7, 24, 28, 29, 40, 38, 0]
550 [1, 2, 18, 23, 38, 40, 12, 0]
551 [18, 19, 20, 28, 31, 40, 41, 0]
552 [7, 10, 12, 16, 30, 44, 13, 0]
553 [5, 13, 22, 32, 37, 41, 9, 0]
554 [3, 14, 15, 34, 41, 45, 42, 0]
555 [3, 7, 21, 24, 33, 34, 44, 0]
556 [1, 5, 11, 15, 28, 31, 9, 0]
557 [1, 3, 5, 16, 38, 42, 23, 0]
558 [13, 22, 31, 32, 38, 44, 39, 0]
559 [10, 15, 26, 29, 34, 35, 14, 0]
560 [1, 5, 6, 10, 16, 38, 39, 0]
561 [6, 14, 15, 18, 20, 42, 10, 0]
562 [7, 14, 23, 30, 37, 42, 25, 0]
563 [15, 17, 23, 25, 28, 32, 33, 0]
564 [9, 17, 20, 21, 36, 40, 41, 0]
565 [14, 19, 22, 27, 35, 40, 42, 0]
566 [19, 32, 33, 36, 37, 39, 30, 0]
567 [6, 8, 15, 21, 27, 31, 14, 0]
568 [8, 16, 23, 35, 37, 43, 38, 0]
569 [15, 20, 22, 25, 31, 42, 38, 0]

In [198]:
for i in range(6,1,-1):
    rottery_uncertain['num'+str(i)+'/'+str(i-1)] = (rottery_uncertain['num'+str(i)] - rottery_uncertain['num'+str(i-1)])

rottery_uncertain

,num1,num2,num3,num4,num5,num6,bonus,result,num6/5,num5/4,num4/3,num3/2,num2/1
0,6,13,18,25,27,44,16,0,17,2,7,5,7
1,4,29,32,33,42,44,10,0,2,9,1,3,25
2,9,19,20,23,31,37,32,0,6,8,3,1,10
3,12,15,19,27,35,40,6,0,5,8,8,4,3
4,3,6,7,14,16,41,12,0,25,2,7,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,14,19,22,27,35,40,42,0,5,8,5,3,5
566,19,32,33,36,37,39,30,0,2,1,3,1,13
567,6,8,15,21,27,31,14,0,4,6,6,7,2
568,8,16,23,35,37,43,38,0,6,2,12,7,8
569,15,20,22,25,31,42,38,0,11,6,3,2,5

In [199]:
first_num = {}

for i in range(1,46):
    first_num[i] = 0

for i in list(rottery_numbers['num1']):
    first_num[i] = first_num[i] + 1

sorted(first_num.items(), key=lambda x: x[1], reverse=True )

[(1, 69),
 (2, 65),
 (3, 65),
 (6, 45),
 (4, 42),
 (7, 41),
 (5, 39),
 (8, 28),
 (10, 24),
 (9, 21),
 (12, 21),
 (11, 19),
 (13, 18),
 (14, 16),
 (15, 11),
 (17, 9),
 (16, 8),
 (21, 8),
 (19, 5),
 (20, 4),
 (18, 2),
 (22, 2),
 (23, 2),
 (30, 2),
 (24, 1),
 (26, 1),
 (27, 1),
 (25, 0),
 (28, 0),
 (29, 0),
 (31, 0),
 (32, 0),
 (33, 0),
 (34, 0),
 (35, 0),
 (36, 0),
 (37, 0),
 (38, 0),
 (39, 0),
 (40, 0),
 (41, 0),
 (42, 0),
 (43, 0),
 (44, 0),
 (45, 0)]

In [200]:
rottery_numbers[-10:]
last_num = {}
for i in range(1,46):
    last_num[i] = 0

for i in list(rottery_numbers['num6']):
    last_num[i] = last_num[i] + 1

sorted(last_num.items(), key=lambda x: x[1], reverse=True )

[(45, 85),
 (44, 73),
 (43, 60),
 (42, 45),
 (41, 40),
 (38, 38),
 (39, 33),
 (40, 32),
 (36, 29),
 (35, 23),
 (37, 23),
 (33, 14),
 (34, 13),
 (31, 10),
 (32, 10),
 (28, 8),
 (29, 8),
 (30, 6),
 (27, 5),
 (23, 3),
 (19, 2),
 (22, 2),
 (24, 2),
 (25, 2),
 (26, 2),
 (18, 1),
 (1, 0),
 (2, 0),
 (3, 0),
 (4, 0),
 (5, 0),
 (6, 0),
 (7, 0),
 (8, 0),
 (9, 0),
 (10, 0),
 (11, 0),
 (12, 0),
 (13, 0),
 (14, 0),
 (15, 0),
 (16, 0),
 (17, 0),
 (20, 0),
 (21, 0)]

In [201]:
rottery_certain = rottery_numbers.copy()
rottery_certain

,num1,num2,num3,num4,num5,num6,bonus,num6/5,num5/4,num4/3,num3/2,num2/1
0,8,23,31,35,39,40,24,1,4,4,8,15
1,14,23,25,27,29,42,16,13,2,2,2,9
2,6,7,27,29,38,45,17,7,9,2,20,1
3,17,18,23,25,38,39,22,1,13,2,5,1
4,2,13,15,16,33,43,4,10,17,1,2,11
...,...,...,...,...,...,...,...,...,...,...,...,...
564,2,19,25,26,27,43,28,16,1,1,6,17
565,13,14,22,27,30,38,2,8,3,5,8,1
566,2,16,19,31,34,35,37,1,3,12,3,14
567,9,21,24,30,33,37,29,4,3,6,3,12
568,5,12,24,26,39,42,20,3,13,2,12,7

In [202]:
rottery_certain['result']=1
rottery_certain

,num1,num2,num3,num4,num5,num6,bonus,num6/5,num5/4,num4/3,num3/2,num2/1,result
0,8,23,31,35,39,40,24,1,4,4,8,15,1
1,14,23,25,27,29,42,16,13,2,2,2,9,1
2,6,7,27,29,38,45,17,7,9,2,20,1,1
3,17,18,23,25,38,39,22,1,13,2,5,1,1
4,2,13,15,16,33,43,4,10,17,1,2,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,2,19,25,26,27,43,28,16,1,1,6,17,1
565,13,14,22,27,30,38,2,8,3,5,8,1,1
566,2,16,19,31,34,35,37,1,3,12,3,14,1
567,9,21,24,30,33,37,29,4,3,6,3,12,1
568,5,12,24,26,39,42,20,3,13,2,12,7,1

In [203]:
display(rottery_uncertain)
display(rottery_certain)

,num1,num2,num3,num4,num5,num6,bonus,result,num6/5,num5/4,num4/3,num3/2,num2/1
0,6,13,18,25,27,44,16,0,17,2,7,5,7
1,4,29,32,33,42,44,10,0,2,9,1,3,25
2,9,19,20,23,31,37,32,0,6,8,3,1,10
3,12,15,19,27,35,40,6,0,5,8,8,4,3
4,3,6,7,14,16,41,12,0,25,2,7,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,14,19,22,27,35,40,42,0,5,8,5,3,5
566,19,32,33,36,37,39,30,0,2,1,3,1,13
567,6,8,15,21,27,31,14,0,4,6,6,7,2
568,8,16,23,35,37,43,38,0,6,2,12,7,8
569,15,20,22,25,31,42,38,0,11,6,3,2,5

,num1,num2,num3,num4,num5,num6,bonus,num6/5,num5/4,num4/3,num3/2,num2/1,result
0,8,23,31,35,39,40,24,1,4,4,8,15,1
1,14,23,25,27,29,42,16,13,2,2,2,9,1
2,6,7,27,29,38,45,17,7,9,2,20,1,1
3,17,18,23,25,38,39,22,1,13,2,5,1,1
4,2,13,15,16,33,43,4,10,17,1,2,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,2,19,25,26,27,43,28,16,1,1,6,17,1
565,13,14,22,27,30,38,2,8,3,5,8,1,1
566,2,16,19,31,34,35,37,1,3,12,3,14,1
567,9,21,24,30,33,37,29,4,3,6,3,12,1
568,5,12,24,26,39,42,20,3,13,2,12,7,1

In [204]:
rottery_dataset = pandas.concat([rottery_certain, rottery_uncertain], axis=0)
rottery_dataset

,num1,num2,num3,num4,num5,num6,bonus,num6/5,num5/4,num4/3,num3/2,num2/1,result
0,8,23,31,35,39,40,24,1,4,4,8,15,1
1,14,23,25,27,29,42,16,13,2,2,2,9,1
2,6,7,27,29,38,45,17,7,9,2,20,1,1
3,17,18,23,25,38,39,22,1,13,2,5,1,1
4,2,13,15,16,33,43,4,10,17,1,2,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
565,14,19,22,27,35,40,42,5,8,5,3,5,0
566,19,32,33,36,37,39,30,2,1,3,1,13,0
567,6,8,15,21,27,31,14,4,6,6,7,2,0
568,8,16,23,35,37,43,38,6,2,12,7,8,0
569,15,20,22,25,31,42,38,11,6,3,2,5,0

In [205]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

from sklearn.metrics import *

In [206]:
target = 'result'
x = rottery_dataset.drop(target, axis=1)
y = rottery_dataset.loc[:, target]
display(x)
display(y)

,num1,num2,num3,num4,num5,num6,bonus,num6/5,num5/4,num4/3,num3/2,num2/1
0,8,23,31,35,39,40,24,1,4,4,8,15
1,14,23,25,27,29,42,16,13,2,2,2,9
2,6,7,27,29,38,45,17,7,9,2,20,1
3,17,18,23,25,38,39,22,1,13,2,5,1
4,2,13,15,16,33,43,4,10,17,1,2,11
...,...,...,...,...,...,...,...,...,...,...,...,...
565,14,19,22,27,35,40,42,5,8,5,3,5
566,19,32,33,36,37,39,30,2,1,3,1,13
567,6,8,15,21,27,31,14,4,6,6,7,2
568,8,16,23,35,37,43,38,6,2,12,7,8
569,15,20,22,25,31,42,38,11,6,3,2,5

0      1
1      1
2      1
3      1
4      1
      ..
565    0
566    0
567    0
568    0
569    0
Name: result, Length: 1139, dtype: int64

In [207]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.1)

In [208]:


model_xgb = XGBClassifier(max_depth=3)
model_xgb.fit(x_train, y_train)
y_pred = model_xgb.predict(x_test)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[24 36]
 [31 23]]
              precision    recall  f1-score   support

           0       0.44      0.40      0.42        60
           1       0.39      0.43      0.41        54

    accuracy                           0.41       114
   macro avg       0.41      0.41      0.41       114
weighted avg       0.41      0.41      0.41       114

In [209]:
model_lgbm = LGBMClassifier(max_depth=3)
model_lgbm.fit(x_train, y_train)
y_pred = model_lgbm.predict(x_test)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[LightGBM] [Info] Number of positive: 515, number of negative: 510
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000136 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 369
[LightGBM] [Info] Number of data points in the train set: 1025, number of used features: 12
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.502439 -> initscore=0.009756
[LightGBM] [Info] Start training from score 0.009756
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[LightGBM] [Warning] No further splits with positive gain, best gain: -inf
[[28 32]
 [31 23]]
              precision    recall  f1-score   support

           0       0.47      0.47      0.47        60
           1       0.42      0.43      0.42        54

    accuracy                           0.45       114
   macro avg       0.45      0.45      0.45       114
weighted avg       0.45      0.45      0.45       114

In [210]:
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[28 32]
 [31 23]]
              precision    recall  f1-score   support

           0       0.47      0.47      0.47        60
           1       0.42      0.43      0.42        54

    accuracy                           0.45       114
   macro avg       0.45      0.45      0.45       114
weighted avg       0.45      0.45      0.45       114

In [211]:
model = CatBoostClassifier(
    iterations=1000,        # 트리 수 (early stopping 때문에 많게)
    learning_rate=0.1,      # 학습률
    depth=6,                # 트리 깊이
    eval_metric='Accuracy', # 평가 지표
    verbose=100,            # 100 iteration마다 로그 출력
    random_seed=42
)

# 학습
model.fit(
    x_train, y_train,
    eval_set=(x_test, y_test),
    early_stopping_rounds=50  # 50번 동안 개선 없으면 조기종료
)

# 5. 예측
y_pred = model.predict(x_test)

# 6. 평가
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

0:	learn: 0.5570732	test: 0.4736842	best: 0.4736842 (0)	total: 549us	remaining: 549ms
Stopped by overfitting detector  (50 iterations wait)

bestTest = 0.4912280702
bestIteration = 24

Shrink model to first 25 iterations.
[[32 28]
 [30 24]]
              precision    recall  f1-score   support

           0       0.52      0.53      0.52        60
           1       0.46      0.44      0.45        54

    accuracy                           0.49       114
   macro avg       0.49      0.49      0.49       114
weighted avg       0.49      0.49      0.49       114

In [212]:
x_test

,num1,num2,num3,num4,num5,num6,bonus,num6/5,num5/4,num4/3,num3/2,num2/1
371,1,21,26,36,40,41,5,1,4,10,5,20
470,2,5,8,11,33,39,31,6,22,3,3,3
223,14,16,17,27,29,45,22,16,2,10,1,2
164,8,19,26,33,35,41,39,6,2,7,7,11
113,2,17,26,28,35,43,24,8,7,2,9,15
...,...,...,...,...,...,...,...,...,...,...,...,...
30,4,9,12,15,33,45,26,12,18,3,3,5
251,6,21,22,32,35,36,17,1,3,10,1,15
215,4,12,22,24,33,41,38,8,9,2,10,8
73,6,7,15,22,26,40,41,14,4,7,8,1
323,7,8,13,15,33,45,18,12,18,2,5,1

In [213]:
y_test

371    1
470    1
223    0
164    0
113    0
      ..
30     1
251    1
215    1
73     1
323    1
Name: result, Length: 114, dtype: int64

In [214]:
y_pred

array([1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0])

In [215]:
result = x_test.copy()

In [216]:
result['real_result'] = y_test

In [217]:
result['pred_result'] = y_pred

In [218]:
result.to_csv('number_pred_result.csv')

In [219]:
# 16,18,30,31,39,44
# 18,19,25,34,36,37
# 21,22,25,28,35,37