In [11]:
import hashlib
import pandas as pd
import numpy as np

In [9]:
company_name = "인공지능팩토리"
date = 2025
season = "상반기"
working_place = "마케팅직무"
staff_type = "채용형인턴"
combined = f"{company_name}{date}{season}{working_place}{staff_type}"

# 해시값 생성 (SHA256)
hash_object = hashlib.sha256(combined.encode())
hash_value = hash_object.hexdigest()

print(hash_value)

ac7bbafe298e38abcf90fc1b02bd1c74b5295664ac86bfbe4206c571daa2908a

In [17]:
resume_company = pd.DataFrame(columns=['기업명','년도','시즌','직무','채용타입','해시','해시끝5자리'])
resume_company

Empty DataFrame
Columns: [기업명, 년도, 시즌, 직무, 채용타입, 해시, 해시끝5자리]
Index: []

In [18]:
resume_company.loc[0] = [company_name, date, season, working_place, staff_type, hash_value, hash_value[-5:]]

In [19]:
resume_company

,기업명,년도,시즌,직무,채용타입,해시,해시끝5자리
0,인공지능팩토리,2025,상반기,마케팅직무,채용형인턴,ac7bbafe298e38abcf90fc1b02bd1c74b5295664ac86bf...,2908a

In [22]:
resume_company.to_csv('기업_지원이력_해시값.csv', index=False)

In [24]:
data = pd.read_csv('기업_지원이력_해시값.csv')
data

,기업명,년도,시즌,직무,채용타입,해시,해시끝5자리
0,인공지능팩토리,2025,상반기,마케팅직무,채용형인턴,ac7bbafe298e38abcf90fc1b02bd1c74b5295664ac86bf...,2908a
1,애자일소다,2025,하반기,데이터사이언티스트,인턴,NaN,NaN

In [25]:
company_name = "애자일소다"
date = 2025
season = "하반기"
working_place = "데이터사이언티스트"
staff_type = "인턴"
combined = f"{company_name}{date}{season}{working_place}{staff_type}"

# 해시값 생성 (SHA256)
hash_object = hashlib.sha256(combined.encode())
hash_value = hash_object.hexdigest()

print(hash_value)

f009aec594ea30e7fd0fb217fb7ed41463d7f41a623dc59230137955b5d28c38

In [26]:
hash_value[-5:]

'28c38'

In [ ]:
def to_hash(x):
    company_name = "애자일소다"
    date = 2025
    season = "하반기"
    working_place = "데이터사이언티스트"
    staff_type = "인턴"
    combined = f"{company_name}{date}{season}{working_place}{staff_type}"

    # 해시값 생성 (SHA256)
    hash_object = hashlib.sha256(combined.encode())
    hash_value = hash_object.hexdigest()

    print(hash_value)