Electric car sales (2010-2024)
Trends in electric vehicle sales(2010-2024)


About Dataset
This dataset provides a snapshot of the electric vehicle (EV) market in countried across the world from 2010 to 2024. It includes historical data on EV sales, stock, and market share, categorized by vehicle mode (e.g., cars), powertrain type (BEV, PHEV), and metric (e.g., stock share, sales share). The data helps in understanding the initial adoption trends of electric mobility.

Ideal for time-series analysis, market share studies, or building visualizations of EV trends.

In [4]:
import pandas as pd
import numpy as np
import kagglehub
pd.set_option('display.max_columns', None)

/opt/anaconda3/envs/data_venv/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
!pip install kaggle kaggle
import os
import json


kaggle_json_path = os.path.expanduser('~/Documents/dev_macbook_sync/dEV/dev_bigdata/kaggle_env/kaggle.json')

# JSON 읽기
with open(kaggle_json_path, 'r') as f:
    kaggle_token = json.load(f)

# 환경변수 설정
os.environ['KAGGLE_USERNAME'] = kaggle_token['username']
os.environ['KAGGLE_KEY'] = kaggle_token['key']

Requirement already satisfied: kaggle in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (1.7.4.5)
Requirement already satisfied: bleach in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (6.1.0)
Requirement already satisfied: certifi>=14.05.14 in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (2025.4.26)
Requirement already satisfied: charset-normalizer in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (3.4.2)
Requirement already satisfied: idna in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (3.10)
Requirement already satisfied: protobuf in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (5.29.5)
Requirement already satisfied: python-dateutil>=2.5.3 in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (2.9.0)
Requirement already satisfied: python-slugify in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: requests in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (75.1.0)
Requirement already satisfied: six>=1.10 in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (2.2.3)
Requirement already satisfied: webencodings in /opt/anaconda3/envs/data_venv/lib/python3.8/site-packages (from kaggle) (0.5.1)

In [8]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("jainaru/electric-car-sales-2010-2024")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.12)
Path to dataset files: /Users/lyuhoyun/.cache/kagglehub/datasets/jainaru/electric-car-sales-2010-2024/versions/1

In [10]:
dataset = pd.read_csv('IEA-EV-dataEV salesHistoricalCars.csv')
dataset.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [16]:
display(dataset.columns)
display(dataset.describe())
display(dataset.info())

Index(['region', 'category', 'parameter', 'mode', 'powertrain', 'year', 'unit',
       'value'],
      dtype='object')

              year         value
count  3798.000000  3.798000e+03
mean   2017.369932  1.009542e+05
std       3.809226  8.184402e+05
min    2010.000000  1.500000e-05
25%    2014.000000  2.300000e+00
50%    2018.000000  1.900000e+02
75%    2021.000000  6.800000e+03
max    2023.000000  2.800000e+07

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      3798 non-null   object
 1   category    3798 non-null   object
 2   parameter   3798 non-null   object
 3   mode        3798 non-null   object
 4   powertrain  3798 non-null   object
 5   year        3798 non-null   int64
 6   unit        3798 non-null   object
 7   value       3798 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 237.5+ KB

None

<bound method DataFrame.info of          region    category           parameter  mode powertrain  year  \
0     Australia  Historical            EV sales  Cars        BEV  2011
1     Australia  Historical      EV stock share  Cars         EV  2011
2     Australia  Historical      EV sales share  Cars         EV  2011
3     Australia  Historical            EV stock  Cars        BEV  2011
4     Australia  Historical            EV stock  Cars        BEV  2012
...         ...         ...                 ...   ...        ...   ...
3793      World  Historical            EV stock  Cars        BEV  2023
3794      World  Historical            EV sales  Cars        BEV  2023
3795      World  Historical      EV sales share  Cars         EV  2023
3796      World  Historical      EV stock share  Cars         EV  2023
3797      World  Historical  Electricity demand  Cars         EV  2023

          unit         value
0     Vehicles  4.900000e+01
1      percent  3.900000e-04
2      percent  6.500000e-03
3     Vehicles  4.900000e+01
4     Vehicles  2.200000e+02
...        ...           ...
3793  Vehicles  2.800000e+07
3794  Vehicles  9.500000e+06
3795   percent  1.800000e+01
3796   percent  3.200000e+00
3797       GWh  9.700000e+04

[3798 rows x 8 columns]>

Index(['region', 'category', 'parameter', 'mode', 'powertrain', 'year', 'unit',
       'value'],
      dtype='object')